<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .table {
            border-collapse: collapse;
            border: 1px solid black;
            width: 100px;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
    </style>

</head>
<body>

    <p>Hi Username ,</p>
    <p>The management has rejected your time sheet work.Please review the details below.</p><br />
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Client Name : </th>
                <td>clientname</td>
            </tr>
            <tr>
                <th scope="row">Project Name : </th>
                <td>projectname</td>
            </tr>
            <tr>
                <th scope="row">Task Name : </th>
                <td>taskname</td>
            </tr>
            <tr>
                <th scope="row">Date : </th>
                <td>date</td>
            </tr>
            <tr>
                <th scope="row">Start Time : </th>
                <td>starttime</td>
            </tr>
            <tr>
                <th scope="row">End Time : </th>
                <td>endtime</td>
            </tr>
            <tr>
                <th scope="row">Hours : </th>
                <td>hours</td>
            </tr>
            <tr>
                <th scope="row">Description : </th>
                <td>descript</td>
            </tr>
        </tbody>
    </table>

    <p>Thanks,</p>
    <p>Signa Timesheet Team.</p>
</body>
</html>